<html>
    <head>
        <title>DigiMas</title>
    </head>
    <body>
        <div>
            <h1><a href="/">DigiMas</a></h1>
        </div>

        <div>
            <p>published: 7.03.2020, 15:45</p>
            <h2><a href="">The future of carnival</a></h2>
            <p>A carnival advancement.</p>
        </div>

        <div>
            <p>published: 7.03.2020, 15:45</p>
            <h2><a href="">Carnival is the future of the creative arts industry</a></h2>
            <p>Keeping up with industry.</p>
        </div>
    </body>
</html>